@media (min-width: 300px) {
    #about {
        text-align: center;
        font-size: 45px;
    }

    .profilePicture {
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    #about {
        font-size: 55px;
    }

    .profilePicture {
        width: 300px;
    }

    .about {
        padding-left: 90px;
        padding-right: 90px;
    }
}