textarea {
    margin-bottom: 10px;
}

@media (min-width: 300px) {
    h1 {
        text-align: center;
    }

    #contact {
        font-size: 45px;
    }
}

@media (min-width: 768px) {
    #contact {
        font-size: 55px;
    }
}
