.portfolio .row > div {
    margin-bottom: 30px;
}

.card-body, .card-title, .card-text {
    background-color: #fff;
}

@media (min-width: 300px) {
    #portfolio {
        font-size: 45px;
    }
}

@media (min-width: 768px) {
    #portfolio {
        font-size: 55px;
    }
}